<!-- notification template -->
{if $notification_header|default:'' == "error"}
<div class="alert alert-danger border-0 bg-danger alert-dismissible fade show py-2">
    <div class="d-flex align-items-center">
        <div class="font-35 text-white"><i class="bx bxs-message-square-x"></i>
        </div>
        <div class="ms-3">
            <h6 class="mb-0 text-white"><strong>{$notification_header|upper}</strong> : {$notification_message}</h6>
            <div class="text-white"> {$notification_error} </div>
        </div>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{elseif $notification_header|default:'' == "warning"}
<div class="alert alert-warning border-0 bg-warning alert-dismissible fade show py-2">
    <div class="d-flex align-items-center">
        <div class="font-35 text-white"><i class="bx bx-info-circle"></i>
        </div>
        <div class="ms-3">
            <h6 class="mb-0 text-white"><strong>{$notification_header|upper}</strong> : {$notification_message}</h6>
            <div class="text-white"> {$notification_error} </div>
        </div>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{elseif $notification_header|default:'' == "success"}
<div class="alert alert-success border-0 bg-success alert-dismissible fade show py-2">
    <div class="d-flex align-items-center">
        <div class="font-35 text-white"><i class="bx bxs-check-circle"></i>
        </div>
        <div class="ms-3">
            <h6 class="mb-0 text-white"><strong>{$notification_header|upper}</strong> : {$notification_message}</h6>
            <div class="text-white"> {$notification_error} </div>
        </div>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{else}
{/if}
<!-- End of notification template -->
