<div class="row">
    <div class="col-xl-11 mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex align-items-center">
                    <div><i class="bx bxs-cog me-1 font-22 text-primary"></i>
                    </div>
                    <h5 class="mb-0 text-primary">Pengaturan Footer</h5>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xl-9 ms-auto">
                        <form action="{$config->site_url('pengaturan/pengaturan/footer_process')}" method="post" class="row g-3" enctype="multipart/form-data">
                            <input type="hidden" name="{$csrf.name|default:''}" value="{$csrf.hash|default:''}" />
                            {foreach from=$rs key=a item=b}
                            <div class="col-md-12">
                                <label for="form{$a}" class="form-label">{$a|ucwords|replace:'_':' '}</label>
                                <input type="text" class="form-control" id="form{$a}" name="{$a}[value]" value="{$b.value|default:$result.{$a.value}}" required>
                                <input type="hidden" name="{$a}[id]" value="{$b.id|default:$result.{$a.id}}">
                            </div>
                            {/foreach}
                            {for $a=1 to 2}
                            <hr>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label for="nama{$a}" class="form-label">Kolom {$a}</label>
                                    <input type="text" name="judul{$a}[value]" id="nama{$a}" class="form-control" value="{$col.$a.judul.value|default:''}">
                                    <input type="hidden" name="judul{$a}[id]" value="{$col.$a.judul.id|default:''}">
                                    <input type="hidden" name="isi{$a}[id]" value="{$col.$a.isi.id|default:''}">
                                </div>
                                {$u = $col.$a.isi.value|json_decode:true}
                                {for $b=0 to 4}
                                {$c = $b+1}
                                <div class="col-md-12">
                                    <label for="nama{$a}" class="form-label">Link {$c}</label>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" name="isi{$a}[text][]" id="" class="form-control" placeholder="Nama" value="{$u.text.$b|default:''}">
                                        </div>
                                        <div class="col-8">
                                            <input type="text" name="isi{$a}[link][]" id="" class="form-control" placeholder="http://"  value="{$u.link.$b|default:''}">
                                        </div>
                                    </div>
                                </div>
                                {/for}
                            </div>
                            {/for}
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary px-5">Simpan</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-3">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // $('#fancy-file-upload, #fancy-file-upload2').FancyFileUpload({
    //     params: {
    //         action: 'fileuploader'
    //     },
    //     maxfilesize: 1000000
    // });
</script>