<!-- ============================ Page Title Start================================== -->
<section class="page-title bg-cover" data-overlay="8">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <div class="breadcrumbs-wrap">
                    <h1 class="breadcrumb-title text-light">{$title|default:'Data'}</h1>
                    <nav class="transparent">
                        <ol class="breadcrumb p-0">
                            <li class="breadcrumb-item"><a href="{$BASEURL}" class="text-light">Beranda</a></li>
                            <li class="breadcrumb-item active theme-cl" aria-current="page">{$title|default:'Data'}</li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ article Start ================================== -->
<section class="min gray">
    <div class="container">
        <!-- row Start -->
        <div class="row">
            <!-- Blog Detail -->
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="article_detail_wrapss single_article_wrap format-standard">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h4 class="mb-3">{$doc.cat_title|default:'-'}</h4>
                                    <p>{$doc.cat_desc|htmlspecialchars_decode|default:'-'}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="article_detail_wrapss single_article_wrap format-standard">
                    <div class="article_body_wrap">

                        <div class="row m-0 align-items-center justify-content-start">
                            <form action="" class="form-inline">                               
                                <div class="form-group m-0 mr-3" style="width: 150px;">
                                    <div class="simple-input">
                                        <select id="years" class="form-control" name="t">
                                            <option value="">&nbsp;</option>
                                            {for $u=2015 to ($smarty.now|date_format:'%Y' + 1)}
                                            <option value="{$u}" {if $search.t|default:'' eq $u}selected{/if}>{$u}</option>
                                            {/for}
                                        </select>
                                    </div>
                                </div>                                 
                                <button class="btn theme-bg rounded">Cari</button>
                            </form>
                        </div>
                        <h5 class="mb-3 mt-5">Pencarian Data: "{$search.t|default:''}"</h5>
                        <div class="table-responsive mt-3">
                            <table class="table table-striped table-hover table-sm mb-0">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Bulan</th>
                                        <th>Tahun</th>
                                        <th>Bentuk Berkas</th>
                                        <th>Unduh</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {foreach from=$file key=a item=b}                                    
                                    {$download = $config->base_url('post/download_doc/')|cat:$b.doc_id}
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a class="text-bold" href="{$download}">{$b.doc_title|default:''}</a>
                                            </div>
                                        </td>
                                        <td><span class="instructor_tag green">{$dtm->getBulan($b.doc_month|default:'')}</span></td>
                                        <td><span class="instructor_tag green">{$b.doc_year|default:''}</span></td>
                                        <td><i class="far fa-file"></i> {$b.doc_type|default:''}</td>
                                        <td><a class="doc-download" href="{$download}"><i class="fa fa-download font-24"></i></a>
                                        </td>
                                    </tr>
                                    {foreachelse}
                                    <tr>
                                        <td colspan="20">Tidak ada data.</td>
                                    </tr>
                                    {/foreach}
                                </tbody>
                            </table>
                        </div>
                        
                        <!-- Pagination -->
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                {$pagination.data|default:''}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Single blog Grid -->
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="single_widgets widget_category stick_top">
                    <h4 class="title">{$_menu.title|default:''}</h4>
                    <ul>
                        {foreach from=$_submenu key=a item=b}                                 
                        <li class="{if {$config->base_url($b.url)} eq ($config->base_url('data'))}active{/if}"><a href="{$config->base_url($b.url)}">{$b.title|default:''}</a></li>                        
                        {/foreach}
                    </ul>
                </div>
            </div>

        </div>
        <!-- /row -->

    </div>
</section>
<div class="clearfix"></div>
<!-- ============================ article End ================================== -->