<div class="row">
    <div class="col-xl-11 mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex align-items-center">
                    <div><i class="bx bx-slider me-1 font-22 text-primary"></i>
                    </div>
                    <h5 class="mb-0 text-primary">Tambah Popup</h5>
                    <a href="{$config->site_url('pengaturan/popup')}" class="ml-auto btn btn-outline-secondary btn-sm"><i class="bx bxs-chevron-left-circle"></i> Kembali</a>
                </div>
                <hr>
                <form class="row g-3" method="post" action="{$config->site_url('pengaturan/popup/add_process')}" enctype='multipart/form-data'>
                    <input type="hidden" name="{$csrf.name|default:''}" value="{$csrf.hash|default:''}" />
                    <div class="col-md-12">
                        <label for="" class="form-label">Nama Popup</label>
                       <div class="col-md-6">
                        <input type="text" name="title" value="{$result.title|default:''}"
                        class="form-control" placeholder="Nama" required>
                       </div>
                    </div>
                    <div class="col-md-6">
                        <label for="" class="fomr-label">Popup Aktif</label>
                        <div class="input-group col-6">
                            <select name="is_active" id="inputState" class="form-select">
                                <option value="" selected disabled>--Pilih--</option>
                                <option value="1" {if {$result.is_active|default:''} eq "1"
                                    }selected="selected" {/if}>Aktif</option>
                                <option value="0" {if {$result.is_active|default:''} eq "0"
                                    }selected="selected" {/if}>Non Aktif</option>                                    
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="formFile" class="form-label">Gambar</label>
                        <div class="row">
                            <div class="col-lg-6">                                
                                <input type="file" name="img" value="{$result.img|default:''}"
                                class="form-control" id="image_preview" accept=".jpg, .png, image/jpeg, image/png" required>                                
                            </div>                            
                        </div>
                    </div>
                    <div class="col-md-12">
                        <img alt=" " id="show_image" height="200px;">                                
                    <div> 
                                                                                                                                                                -->
                    <div class="col-12 mt-3">
                        <button type="submit" class="btn btn-primary px-5">Simpan</button>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.tiny.cloud/1/vdqx2klew412up5bcbpwivg1th6nrh3murc6maz8bukgos4v/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    function readImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
        
            reader.onload = function (e) {
                $('#show_image').attr('src', e.target.result);
            }
        
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#image_preview").change(function(){
    readImage(this);
    });
</script>
